# Dependencies
node_modules/
.pnpm-store/

# Production build outputs
dist/
build/

# Local environment variables
.env
.env.local
.env.development.local
.env.production.local

# Editor & OS settings
.vscode/
.DS_Store
*.log
dist/
